<div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="course-item">
          <img src="assets/img/icore.png" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category">Start course</p>
              <p class="price">0%</p>
            </div>

            <h3><a routerLink="/web-app/course-detail">iCORE</a></h3>
            <p class="description">Integrated Corporate Data Management System (iCDMS) is an all-in-one solution for managing your corporate well data with focus on the subsurface portfolio and well delivery process.</p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
               Not started
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bi bi-person user-icon"></i>&nbsp;Time
                &nbsp;&nbsp;:
                <i class="bi bi-heart heart-icon"></i>&nbsp;1hr
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="course-item">
          <img src="assets/img/diglogist.jfif" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category">Start course</p>
              <p class="price">0%</p>
            </div>

            <h3><a routerLink="/web-app/course-detail">DigLogist</a></h3>
            <p class="description">DigLogist is to track and automate the entire activities and process related to consignments movement which starts from order placement to delivery to customers.</p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                Not started
               </div>
               <div class="trainer-rank d-flex align-items-center">
                 <i class="bi bi-person user-icon"></i>&nbsp;Time
                 &nbsp;&nbsp;:
                 <i class="bi bi-heart heart-icon"></i>&nbsp;1hr
               </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="course-item">
          <img src="assets/img/icdms.jfif" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category">Start course</p>
              <p class="price">0%</p>
            </div>

            <h3><a routerLink="/web-app/course-detail">iCDMS</a></h3>
            <p class="description">Integrated Corporate Data Management System (iCDMS) is an all-in-one solution for managing your corporate well data with focus on the subsurface portfolio and well delivery process.</p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                Not started
               </div>
               <div class="trainer-rank d-flex align-items-center">
                 <i class="bi bi-person user-icon"></i>&nbsp;Time
                 &nbsp;&nbsp;:
                 <i class="bi bi-heart heart-icon"></i>&nbsp;1hr
               </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

    </div>

  </div>

  